<h4>Study Case San Franscisco Salary</h4>
Salary Survey in the City of San Francisco in the United States of America
<h4>Estudo de Caso Salário de São Francisco</h4>
Levantamento de Salários na Cidade de São Francisco nos Estados Unidos da América

<b>importe o pandas com a variavel pd / import the pandas with the variable pd</b>

In [1]:
import pandas as pd

<b>leia o arquivo Salaries.csv como um dataframe chamado "sal"/ read the Salaries.csv file as a dataframe called "sal"</b>

In [2]:
sal = pd.read_csv('./sf-salaries/Salaries.csv', dtype='unicode')

<b>Verifique o "Head" do dataframe / Check the "Head" of the dataframe</b>

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<b>Use o metodo .info() para descobrir quantas entradas existem / Use the .info () method to find out how many entries there are</b>

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null object
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null object
TotalPayBenefits    148654 non-null object
Year                148654 non-null object
Notes               0 non-null object
Agency              148654 non-null object
Status              38119 non-null object
dtypes: object(13)
memory usage: 14.7+ MB

In [11]:
sal[sal['EmployeeName'] == 'NATHANIEL FORD']['JobTitle']

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

In [12]:
sal[sal['EmployeeName'] == 'NATHANIEL FORD']['TotalPayBenefits']

0    567595.43
Name: TotalPayBenefits, dtype: object

<b>Funcionario com Maior Salario / Higher Salary Officer </b>

In [14]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
92261,92262,Mohammed H Khan,Parts Storekeeper,64827.0,6379.37,1898.4,26895.04,73104.77,99999.81,2013,NaN,San Francisco,NaN

<b> Funcionario com Menor Salario / Lower Salary Officer</b>

In [16]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.0,0.0,-2.73,0.0,-2.73,2013,NaN,San Francisco,NaN

<b>Quantidade de cargos no dataset / Number of positions in the dataset</b>

In [21]:
sal['JobTitle'].nunique()

2159

<b>Quais são os 5 principais cargos mais comuns? / What are the top 5 most common positions?</b>

In [35]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

<b> Quantas pessoas tiveram o cargo unico em 2013? / How many people had the single position in 2013? </b>

In [30]:
sum(sal[sal['Year'] == '2013']['JobTitle'].value_counts() == 1)

202

<b> Quantas pessoas tem a palavra chefe em seu cargo? / How many people have the word boss in your position?
</b>

In [33]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else: 
        return False

In [34]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

<b>Existe uma correlação entre o comprimento da sequencia do titulo do trabalho e do salario / There is a correlation between the length of the sequence of the job title and  the salary</>b

In [36]:
sal['Tamanho da String'] = sal['JobTitle'].apply(len)

In [38]:
sal[['Tamanho da String', 'TotalPayBenefits']].corr()

                   Tamanho da String
Tamanho da String                1.0